In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import skew
from scipy import stats
from sklearn.decomposition import PCA
from sklearn import preprocessing
from sklearn.cluster import KMeans, AgglomerativeClustering
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv("international_matches.csv")
data

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [3]:
data

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [4]:
nonadata = data.dropna(how='any',axis=0)

In [5]:
nonadata

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
8264,2004-09-03,Spain,Scotland,Europe,Europe,3,67,0,0,1,...,No,Draw,94.0,84.0,86.5,89.3,89.5,80.2,79.7,81.8
8266,2004-09-04,Austria,England,Europe,Europe,90,7,0,0,2,...,No,Draw,83.0,88.0,76.2,73.0,74.0,90.5,88.7,91.2
8271,2004-09-04,Croatia,Hungary,Europe,Europe,25,76,0,0,3,...,No,Win,77.0,74.0,80.5,78.7,79.0,71.8,75.7,70.2
8276,2004-09-04,Iceland,Bulgaria,Europe,Europe,80,41,0,0,1,...,No,Lose,78.0,78.0,68.8,77.0,69.2,70.5,79.7,78.5
8278,2004-09-04,Italy,Norway,Europe,Europe,9,38,0,0,2,...,No,Win,97.0,79.0,91.8,92.3,87.5,79.2,81.3,79.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23909,2022-06-14,Poland,Belgium,Europe,Europe,26,2,1544,1827,0,...,No,Lose,87.0,89.0,75.2,84.7,75.8,80.8,85.7,85.5
23911,2022-06-14,Ukraine,Republic of Ireland,Europe,Europe,27,47,1535,1449,1,...,No,Draw,75.0,75.0,74.8,78.7,80.0,76.5,72.7,73.8
23912,2022-06-14,Bosnia and Herzegovina,Finland,Europe,Europe,59,57,1388,1406,3,...,No,Win,76.0,83.0,74.2,77.0,78.0,70.0,72.3,73.5
23913,2022-06-14,Romania,Montenegro,Europe,Europe,48,70,1446,1342,0,...,No,Lose,77.0,65.0,73.5,73.7,75.0,76.2,74.7,68.2
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2

In [ ]:
nonadata['away_team_result']=nonadata['home_team_result']

In [ ]:
nonadata['away_team_result'] = np.where(nonadata['away_team_result'] == 'Win', 'Lose', nonadata['away_team_result'])

In [ ]:
nonadata['away_team_result']

In [ ]:
nonadata['home_team_result'] = np.where(nonadata['home_team_result'] == 'Win', 1, nonadata['home_team_result'])

nonadata['home_team_result'] = np.where(nonadata['home_team_result'] == 'Lose', 0, nonadata['home_team_result'])

nonadata['home_team_result'] = np.where(nonadata['home_team_result'] == 'Draw', 0, nonadata['home_team_result'])

In [ ]:
nonadata = nonadata.astype({'home_team_result':'int'})

In [ ]:
X = nonadata.loc[:,['home_team_fifa_rank', 'away_team_fifa_rank', 'home_team_total_fifa_points', 'away_team_total_fifa_points', 'home_team_goalkeeper_score','away_team_goalkeeper_score','home_team_mean_defense_score','home_team_mean_offense_score','home_team_mean_midfield_score','away_team_mean_defense_score','away_team_mean_offense_score','away_team_mean_midfield_score']]

In [ ]:
y=nonadata['home_team_result']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X_train

In [ ]:
scaler = preprocessing.StandardScaler().fit(X_train)

In [ ]:
X_scaled = scaler.transform(X_train)

In [ ]:
X_scaled

In [ ]:
X_test_scaled = scaler.transform(X_test)

In [ ]:
X_test_scaled

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(X_scaled, y_train)
model_pred = model.predict(X_test_scaled)
model_probs=model.predict_proba(X_test_scaled)

In [ ]:
model_pred

In [ ]:
model_probs

In [ ]:
accuracy_score(y_test, model_pred)

In [ ]:
world_cup=nonadata.iloc[[4]]

In [ ]:
world_cup

In [ ]:
world_cup.at[8278,'home_team']='Netherlands'

world_cup.at[8278,'away_team']='USA'

world_cup.at[8278,'away_team_fifa_rank']=13

world_cup.at[8278,'home_team_fifa_rank']=10

world_cup.at[8278,'home_team_total_fifa_points']=1658

world_cup.at[8278,'away_team_total_fifa_points']=1643

world_cup.at[8278,'home_team_goalkeeper_score']=81.0

world_cup.at[8278,'away_team_goalkeeper_score']=77.0

world_cup.at[8278,'home_team_mean_defense_score']=85.2

world_cup.at[8278,'home_team_mean_offense_score']=83.0

world_cup.at[8278,'home_team_mean_midfield_score']=83.5

world_cup.at[8278,'away_team_mean_defense_score']=75.8

world_cup.at[8278,'away_team_mean_offense_score']=77.7

world_cup.at[8278,'away_team_mean_midfield_score']=75.8

In [ ]:
world_cup=world_cup.append(nonadata.iloc[[6]],ignore_index=True)

In [ ]:
world_cup.at[1,'home_team']='Argentina'

world_cup.at[1,'away_team']='Australia'

world_cup.at[1,'away_team_fifa_rank']=37

world_cup.at[1,'home_team_fifa_rank']=4

world_cup.at[1,'home_team_total_fifa_points']=1765

world_cup.at[1,'away_team_total_fifa_points']=1486

world_cup.at[1,'home_team_goalkeeper_score']=84.0

world_cup.at[1,'away_team_goalkeeper_score']=77.0

world_cup.at[1,'home_team_mean_defense_score']=82.2

world_cup.at[1,'home_team_mean_offense_score']=89.0

world_cup.at[1,'home_team_mean_midfield_score']=84.0

world_cup.at[1,'away_team_mean_defense_score']=72.0

world_cup.at[1,'away_team_mean_offense_score']=72.3

world_cup.at[1,'away_team_mean_midfield_score']=73.5

In [ ]:
world_cup=world_cup.append(nonadata.iloc[[6]],ignore_index=True)

In [ ]:
world_cup.at[2,'home_team']='Japan'

world_cup.at[2,'away_team']='Croatia'

world_cup.at[2,'away_team_fifa_rank']=25

world_cup.at[2,'home_team_fifa_rank']=32

world_cup.at[2,'home_team_total_fifa_points']=1549

world_cup.at[2,'away_team_total_fifa_points']=1621

world_cup.at[2,'home_team_goalkeeper_score']=73.0

world_cup.at[2,'away_team_goalkeeper_score']=82.0

world_cup.at[2,'home_team_mean_defense_score']=75.2

world_cup.at[2,'home_team_mean_offense_score']=75.0

world_cup.at[2,'home_team_mean_midfield_score']=77.5

world_cup.at[2,'away_team_mean_defense_score']=77.8

world_cup.at[2,'away_team_mean_offense_score']=76.7

world_cup.at[2,'away_team_mean_midfield_score']=84.5

In [ ]:
world_cup.at[3,'home_team']='Brazil'

world_cup.at[3,'away_team']='South Korea'

world_cup.at[3,'away_team_fifa_rank']=24

world_cup.at[3,'home_team_fifa_rank']=1

world_cup.at[3,'home_team_total_fifa_points']=1832

world_cup.at[3,'away_team_total_fifa_points']=1522

world_cup.at[3,'home_team_goalkeeper_score']=89.0

world_cup.at[3,'away_team_goalkeeper_score']=75.0

world_cup.at[3,'home_team_mean_defense_score']=84.8

world_cup.at[3,'home_team_mean_offense_score']=86.3

world_cup.at[3,'home_team_mean_midfield_score']=85.5

world_cup.at[3,'away_team_mean_defense_score']=73.0

world_cup.at[3,'away_team_mean_offense_score']=80.0

world_cup.at[3,'away_team_mean_midfield_score']=73.8

In [ ]:
world_cup.at[4,'home_team']='France'

world_cup.at[4,'away_team']='Poland'

world_cup.at[4,'away_team_fifa_rank']=26

world_cup.at[4,'home_team_fifa_rank']=3

world_cup.at[4,'home_team_total_fifa_points']=1789

world_cup.at[4,'away_team_total_fifa_points']=1544

world_cup.at[4,'home_team_goalkeeper_score']=87.0

world_cup.at[4,'away_team_goalkeeper_score']=87.0

world_cup.at[4,'home_team_mean_defense_score']=84.2

world_cup.at[4,'home_team_mean_offense_score']=88.3

world_cup.at[4,'home_team_mean_midfield_score']=86.8

world_cup.at[4,'away_team_mean_defense_score']=75.2

world_cup.at[4,'away_team_mean_offense_score']=84.7

world_cup.at[4,'away_team_mean_midfield_score']=75.8

In [ ]:
world_cup.at[5,'home_team']='England'

world_cup.at[5,'away_team']='Senegal'

world_cup.at[5,'away_team_fifa_rank']=20

world_cup.at[5,'home_team_fifa_rank']=5

world_cup.at[5,'home_team_total_fifa_points']=1761

world_cup.at[5,'away_team_total_fifa_points']=1561

world_cup.at[5,'home_team_goalkeeper_score']=83.0

world_cup.at[5,'away_team_goalkeeper_score']=83.0

world_cup.at[5,'home_team_mean_defense_score']=85.0

world_cup.at[5,'home_team_mean_offense_score']=88.0

world_cup.at[5,'home_team_mean_midfield_score']=84.0

world_cup.at[5,'away_team_mean_defense_score']=79.0

world_cup.at[5,'away_team_mean_offense_score']=80.7

world_cup.at[5,'away_team_mean_midfield_score']=79.0

In [ ]:
world_cup.at[6,'home_team']='Morocco'

world_cup.at[6,'away_team']='Spain'

world_cup.at[6,'away_team_fifa_rank']=7

world_cup.at[6,'home_team_fifa_rank']=24

world_cup.at[6,'home_team_total_fifa_points']=1551

world_cup.at[6,'away_team_total_fifa_points']=1709

world_cup.at[6,'home_team_goalkeeper_score']=82.0

world_cup.at[6,'away_team_goalkeeper_score']=84.0

world_cup.at[6,'home_team_mean_defense_score']=81.2

world_cup.at[6,'home_team_mean_offense_score']=81.7

world_cup.at[6,'home_team_mean_midfield_score']=76.2

world_cup.at[6,'away_team_mean_defense_score']=86.5

world_cup.at[6,'away_team_mean_offense_score']=85.0

world_cup.at[6,'away_team_mean_midfield_score']=86.0

In [ ]:
world_cup.at[7,'home_team']='Portugal'

world_cup.at[7,'away_team']='Switzerland'

world_cup.at[7,'away_team_fifa_rank']=14

world_cup.at[7,'home_team_fifa_rank']=8

world_cup.at[7,'home_team_total_fifa_points']=1674

world_cup.at[7,'away_team_total_fifa_points']=1635

world_cup.at[7,'home_team_goalkeeper_score']=82.0

world_cup.at[7,'away_team_goalkeeper_score']=85.0

world_cup.at[7,'home_team_mean_defense_score']=85.2

world_cup.at[7,'home_team_mean_offense_score']=86.0

world_cup.at[7,'home_team_mean_midfield_score']=84.5

world_cup.at[7,'away_team_mean_defense_score']=78.5

world_cup.at[7,'away_team_mean_offense_score']=76.7

world_cup.at[7,'away_team_mean_midfield_score']=79.5

In [ ]:
world_cup.at[8,'home_team']='Netherland'

world_cup.at[8,'away_team']='Argentia'

world_cup.at[8,'away_team_fifa_rank']=4

world_cup.at[8,'home_team_fifa_rank']=10

world_cup.at[8,'home_team_total_fifa_points']=1658

world_cup.at[8,'away_team_total_fifa_points']=1832

world_cup.at[8,'home_team_goalkeeper_score']=81.0

world_cup.at[8,'away_team_goalkeeper_score']=84.0

world_cup.at[8,'home_team_mean_defense_score']=85.2

world_cup.at[8,'home_team_mean_offense_score']=83.0

world_cup.at[8,'home_team_mean_midfield_score']=83.5

world_cup.at[8,'away_team_mean_defense_score']=82.2

world_cup.at[8,'away_team_mean_offense_score']=89.0

world_cup.at[8,'away_team_mean_midfield_score']=84.0

In [ ]:
world_cup.at[9,'home_team']='Croatia'

world_cup.at[9,'away_team']='Brazil'

world_cup.at[9,'away_team_fifa_rank']=25

world_cup.at[9,'home_team_fifa_rank']=1

world_cup.at[9,'home_team_total_fifa_points']=1621

world_cup.at[9,'away_team_total_fifa_points']=1765

world_cup.at[9,'home_team_goalkeeper_score']=81.0

world_cup.at[9,'away_team_goalkeeper_score']=89.0

world_cup.at[9,'home_team_mean_defense_score']=77.8

world_cup.at[9,'home_team_mean_offense_score']=76.7

world_cup.at[9,'home_team_mean_midfield_score']=84.5

world_cup.at[9,'away_team_mean_defense_score']=84.8

world_cup.at[9,'away_team_mean_offense_score']=86.3

world_cup.at[9,'away_team_mean_midfield_score']=85.5

In [ ]:
world_cup.at[10,'home_team']='England'

world_cup.at[10,'away_team']='France'

world_cup.at[10,'away_team_fifa_rank']=3

world_cup.at[10,'home_team_fifa_rank']=5

world_cup.at[10,'home_team_total_fifa_points']=1789

world_cup.at[10,'away_team_total_fifa_points']=1761

world_cup.at[10,'home_team_goalkeeper_score']=87.0

world_cup.at[10,'away_team_goalkeeper_score']=82.0

world_cup.at[10,'home_team_mean_defense_score']=84.2

world_cup.at[10,'home_team_mean_offense_score']=88.3

world_cup.at[10,'home_team_mean_midfield_score']=86.8

world_cup.at[10,'away_team_mean_defense_score']=85.0

world_cup.at[10,'away_team_mean_offense_score']=88.0

world_cup.at[10,'away_team_mean_midfield_score']=84.0

In [ ]:
world_cup.at[11,'home_team']='Spain'

world_cup.at[11,'away_team']='Portugal'

world_cup.at[11,'away_team_fifa_rank']=7

world_cup.at[11,'home_team_fifa_rank']=8

world_cup.at[11,'home_team_total_fifa_points']=1709

world_cup.at[11,'away_team_total_fifa_points']=1674

world_cup.at[11,'home_team_goalkeeper_score']=82.0

world_cup.at[11,'away_team_goalkeeper_score']=83.0

world_cup.at[11,'home_team_mean_defense_score']=86.5

world_cup.at[11,'home_team_mean_offense_score']=85.0

world_cup.at[11,'home_team_mean_midfield_score']=86.0

world_cup.at[11,'away_team_mean_defense_score']=85.2

world_cup.at[11,'away_team_mean_offense_score']=86.0

world_cup.at[11,'away_team_mean_midfield_score']=84.5

In [ ]:
world_cup.at[12,'home_team']='Argentina'

world_cup.at[12,'away_team']='Brazil'

world_cup.at[12,'away_team_fifa_rank']=4

world_cup.at[12,'home_team_fifa_rank']=1

world_cup.at[12,'home_team_total_fifa_points']=1765

world_cup.at[12,'away_team_total_fifa_points']=1832

world_cup.at[12,'home_team_goalkeeper_score']=81.0

world_cup.at[12,'away_team_goalkeeper_score']=81.0

world_cup.at[12,'home_team_mean_defense_score']=82.2

world_cup.at[12,'home_team_mean_offense_score']=89.0

world_cup.at[12,'home_team_mean_midfield_score']=84.0

world_cup.at[12,'away_team_mean_defense_score']=84.8

world_cup.at[12,'away_team_mean_offense_score']=86.3

world_cup.at[12,'away_team_mean_midfield_score']=85.5

In [ ]:
world_cup.at[13,'home_team']='France'

world_cup.at[13,'away_team']='Portugal'

world_cup.at[13,'away_team_fifa_rank']=7

world_cup.at[13,'home_team_fifa_rank']=3

world_cup.at[13,'home_team_total_fifa_points']=1761

world_cup.at[13,'away_team_total_fifa_points']=1674

world_cup.at[13,'home_team_goalkeeper_score']=82.0

world_cup.at[13,'away_team_goalkeeper_score']=82.0

world_cup.at[13,'home_team_mean_defense_score']=84.2

world_cup.at[13,'home_team_mean_offense_score']=88.3

world_cup.at[13,'home_team_mean_midfield_score']=86.8

world_cup.at[13,'away_team_mean_defense_score']=85.2

world_cup.at[13,'away_team_mean_offense_score']=86.0

world_cup.at[13,'away_team_mean_midfield_score']=84.5

In [ ]:
world_cup.at[14,'home_team']='Brazil'

world_cup.at[14,'away_team']='Portugal'

world_cup.at[14,'away_team_fifa_rank']=7

world_cup.at[14,'home_team_fifa_rank']=1

world_cup.at[14,'home_team_total_fifa_points']=1832

world_cup.at[14,'away_team_total_fifa_points']=1674

world_cup.at[14,'home_team_goalkeeper_score']=81.0

world_cup.at[14,'away_team_goalkeeper_score']=82.0

world_cup.at[14,'home_team_mean_defense_score']=84.8

world_cup.at[14,'home_team_mean_offense_score']=86.3

world_cup.at[14,'home_team_mean_midfield_score']=85.5

world_cup.at[14,'away_team_mean_defense_score']=85.2

world_cup.at[14,'away_team_mean_offense_score']=86.0

world_cup.at[14,'away_team_mean_midfield_score']=84.5

In [ ]:
predWCX=world_cup.loc[:,['home_team_fifa_rank', 'away_team_fifa_rank', 'home_team_total_fifa_points', 'away_team_total_fifa_points', 'home_team_goalkeeper_score','away_team_goalkeeper_score','home_team_mean_defense_score','home_team_mean_offense_score','home_team_mean_midfield_score','away_team_mean_defense_score','away_team_mean_offense_score','away_team_mean_midfield_score']]

In [ ]:
WC_scaled = scaler.transform(predWCX)

In [ ]:
WC_pred = model.predict(WC_scaled)
WC_probs=model.predict_proba(WC_scaled)

In [ ]:
WC_pred

In [ ]:
WC_probs

In [ ]:
filter_col_away = [col for col in nonadata if col.startswith('away')]

In [ ]:
filter_col_home = [col for col in nonadata if col.startswith('home')]

In [ ]:
home_df= nonadata[filter_col_home]

In [ ]:
away_df= nonadata[filter_col_away]

In [ ]:
home_df

In [ ]:
away_df

In [ ]:
away_df.columns = away_df.columns.str[5:]

In [ ]:
away_df

In [ ]:
home_df.columns = home_df.columns.str[5:]

In [ ]:
countriesdf= pd.concat([home_df,away_df])

In [ ]:
countriesdf.drop(columns='team_continent',inplace=True)

In [ ]:
countriesdf['team_result'] = np.where(countriesdf['team_result'] == 'Win', 1, countriesdf['team_result'])

In [ ]:
countriesdf['team_result'] = np.where(countriesdf['team_result'] == 'Lose', 0, countriesdf['team_result'])

In [ ]:
countriesdf['team_result'] = np.where(countriesdf['team_result'] == 'Draw', 0, countriesdf['team_result'])

In [ ]:
countriesdf.dtypes

In [ ]:
countriesdf = countriesdf.astype({'team_result':'int'})

In [ ]:
countriesdf.loc[countriesdf['team'] == 'USA']

In [ ]:
countriesdf.loc[countriesdf['team'] == 'Netherlands']